.footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    .term{
        display: block;
        font-size: 11px;
        margin: 30px 0;
        text-align: center;
        color: '#777';
        a{
            text-decoration: none;
            color: #0086E6;
        }
    }
    .btn-get-wallet{
        height: 50px;
        width: 100%;
        background-color: #FFAF03;
        font-weight: 700;
        border-radius: 100px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
}