.wrapper{
    display: flex;
    align-items: center;
    height: 90px;
    padding-top: 24px;
    .left{
        width: 40px;
        display: flex;
        justify-content: center;align-items: center;
        font-size: 22px;
    }
    .right{
        flex: 1;
        padding-right: 40px;
        .title{
            text-align: center;
            color: '#888';
            font-size: 16px;
            font-weight: bold;
            color: #2F2F2F;
        }
    }
}