.banner{
    background-image: url('../../img/bg-bannger.png');
    background-size: cover;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: #FFF;
    .title{
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    .subtitle{
        text-align: center;
        font-size: 11px;
    }
}